extends layout

block content
  //- page content
  br
  div
    .row
      .col-md-12
        .x_panel
          .x_title
            h2
              | 機構列表
              small Organization List
            ul.nav.navbar-right.panel_toolbox
              li
                a.collapse-link
                  i.fa.fa-chevron-up
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  i.fa.fa-wrench
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#') Settings 1
                  li
                    a(href='#') Settings 2
              li
                a.close-link
                  i.fa.fa-close
            .clearfix
          .x_content
            table.table.table-striped.projects
              thead
                tr
                  th(style='width: 2%') #
                  th(style='width: 15%') 圖像
                  th(style='width: 25%') 機構名稱
                  th(style='width: 10%') 信箱
                  th(style='width: 10%') 聯絡人
                  th(style='width: 10%') 聯絡電話
                  th(style='width: 22%') 編輯
              tbody
                each val, index in allOrgs
                  tr
                    td #{index}
                    td
                      if user.profile.picture
                        img(src='#{user.profile.picture}', alt='#{val.profile.name}', height='60')
                      else
                        img(src='#{user.gravatar(60)}', alt='#{val.profile.name}', height='60')
                    td
                      if val.website
                        a(href='#{val.website}', target='_blank')
                          | #{val.profile.name}
                      else
                        | #{val.profile.name}
                    td #{val.email}
                    td #{val.profile.contact}
                    td #{val.profile.phone}
                    td
                      .col-xs-10    
                        form.form-horizontal(action='/activation/#{val.id}', method='POST')
                          input(type='hidden', name='_csrf', value=_csrf)
                          .form-group
                            button.col-sm-12.btn.btn-sm(type='submit' class='#{val.IsOrgActivation?"btn-warning":"btn-primary"}')
                              i.fa.fa-mobile
                              if val.IsOrgActivation
                                |  取消授權
                              else
                                |  授權
                      .col-xs-10
                        form.form-horizontal(action='/removeOrg/#{val.id}', onsubmit="return confirm('確認要永久刪除「#{val.profile.name}」之帳號及其所有服務需求案?');", method='POST')
                          input(type='hidden', name='_csrf', value=_csrf)
                          .form-group
                            button.col-sm-12.btn.btn-danger.btn-sm(type='submit')
                              i.fa.fa-trash
                              |  移除
 