extends layout

block content
  //- page content
  br
  div
    .row
      .col-md-12
        .x_panel
          .x_title
            h2
              | 機構服務列表
              small Organization List
            ul.nav.navbar-right.panel_toolbox
              li
                a.collapse-link
                  i.fa.fa-chevron-up
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  i.fa.fa-wrench
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#') Settings 1
                  li
                    a(href='#') Settings 2
              li
                a.close-link
                  i.fa.fa-close
            .clearfix
          .x_content
            table.table.table-striped.projects
              thead
                tr
                  th(style='width: 2%') #
                  th(style='width: 3%') 狀態
                  th(style='width: 15%') 活動名稱
                  th(style='width: 10%') 發佈日期
                  th(style='width: 15%') 機構名稱
                  th(style='width: 15%') 服務日期
                  th(style='width: 6%') 志工需求
                  th(style='width: 6%') 申請人數
                  th(style='width: 8%') 機構查看次數
                  th(style='width: 10%') 查看
                  th(style='width: 10%') 編輯
              tbody
                each val, index in allServices
                  tr
                    td #{index}
                    td
                      if val.hasCompleted=='stop'
                        i.color-danger.fa.fa-circle
                      else
                        i.color-success.fa.fa-circle
                    td
                      if val.website
                        a(href='#{val.activity_website}', target='_blank')
                          | #{val.activity_name}
                      else
                        | #{val.activity_name}                
                    td #{val.timestamp}
                    td #{val.uname}
                    td
                      if val.service_date_since==val.service_date_until
                        | #{val.service_date_since}
                      else
                        | #{val.service_date_since} ~ #{val.service_date_until}
                    td #{val.volunNum}
                    td #{val.applyIdArr.length}
                    td #{val.timesOfView}
                    td
                      a.col-sm-12.btn.btn-info.btn-xs(data-toggle="modal" data-target="#viewServiceModel_#{index}") 查看
                    td
                      a.col-sm-12.btn.btn-primary.btn-xs(data-toggle="modal" data-target="#editServiceModel_#{index}")
                        i.fa.fa-pencil-square-o
                          |  修改
                      form.form-horizontal(action='/removeService/#{val.id}', onsubmit="return confirm('確認要刪除?');", method='POST')
                        input(type='hidden', name='_csrf', value=_csrf)
                        .form-group
                          button.btn.col-sm-12.btn-danger.btn-xs(type='submit')
                            i.fa.fa-trash
                            |  移除
  if allServices
    each oForm,index in allServices
      include ../partModel/viewServiceModel
      include ../partModel/editServiceModel