extends layout

block content
  //- page content
  br
  div
    .row
      .col-md-12
        .x_panel
          .x_title
            h2
              | 志工列表
              small Volunteer List
            ul.nav.navbar-right.panel_toolbox
              li
                a.collapse-link
                  i.fa.fa-chevron-up
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  i.fa.fa-wrench
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#') Settings 1
                  li
                    a(href='#') Settings 2
              li
                a.close-link
                  i.fa.fa-close
            .clearfix
          .x_content
            table.table.table-striped.projects
              thead
                tr
                  th(style='width: 2%') #
                  th(style='width: 10%') 名字
                  th(style='width: 15%') Email
                  th(style='width: 10%') 身份別
                  th(style='width: 15%') 被瀏覽數
                  th(style='width: 15%') 申請數
                  th(style='width: 48%') 編輯
              tbody
                each val, index in allVoluns
                  tr
                    td #{index}
                    td #{val.name}
                    td #{val.email}
                    td #{val.role}   
                    td #{val.timesOfView}
                    td #{val.applyIdArr.length} 
                    td                   
                      
                
  