extends layout

block content
  //- page content
  br
  div
    .row
      .col-md-12
        .x_panel
          .x_title
            h2
              | 志工列表
              small Volunteer List
            ul.nav.navbar-right.panel_toolbox
              li
                a.collapse-link
                  i.fa.fa-chevron-up
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  i.fa.fa-wrench
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#') Settings 1
                  li
                    a(href='#') Settings 2
              li
                a.close-link
                  i.fa.fa-close
            .clearfix
          .x_content
            table.table.table-striped.projects
              thead
                tr
                  th(style='width: 2%') #
                  th(style='width: 10%') 名字
                  th(style='width: 15%') Email
                  th(style='width: 10%') 身份別
                  th(style='width: 15%') 被瀏覽數
                  th(style='width: 23%') 申請機構(數量)
                  //- th(style='width: 10%') 個資
                  th(style='width: 25%') 編輯
              tbody
                each val, index in allVoluns
                  tr
                    td #{index}
                    td #{val.name}
                    td #{val.email}
                    td #{val.role}   
                    td #{val.timesOfView}
                    td
                      button.col-sm-12.btn.btn-success.btn-xs(type='button', data-toggle='popover', data-placement='top', title='申請機構 (#{val.applyIdArr.length})', data-content='#{val.applyNameArr.join(" , ")}') 查看 ( #{val.applyIdArr.length} )
                    //- td
                    //-   a.col-sm-12.btn.btn-info.btn-xs(data-toggle="modal" data-target="#viewVolunModel_#{index}") 查看         
                    td
                      a.col-sm-5.btn.btn-primary.btn-xs(data-toggle="modal" data-target="#editVolunModel_#{index}") 修改 
                      form.form-horizontal(action='/removeVolunForm/#{val.id}', onsubmit="return confirm('確認要刪除?');", method='POST')
                        input(type='hidden', name='_csrf', value=_csrf)
                        .form-group
                          button.col-sm-5.btn.btn-xs.btn-danger(type='submit')
                            i.fa.fa-trash
                            |  移除 

  each vForm,index in allVoluns
    include ../partModel/editVolunModel                    
                
  