extends layout

block content
  .wrapper
    .landing-header.section-nude
      .container
        .motto.col-md-6
          h2.title-uppercase 機構找志工
          h5 服務青，我們需要你...
          br
        .motto_login.col-md-offset-2.col-md-4.section-gray
          if user && user.IsOrg
            a.logoutBtn(href='/logoutOrg')
                | 登出
            .userLogined
              .col-md-3.col-xs-3.text-center
                a(data-toggle="modal" data-target="#accountModel")
                  if user.profile.picture
                    img#userImg(src='#{user.profile.picture}')
                  else
                    img#userImg(src='#{user.gravatar(60)}')
              .col-md-9.col-xs-7.text-left
                a.userInfo(data-toggle="modal" data-target="#accountModel")
                  |  #{user.profile.name || user.id}
                  br
                  |  #{user.email}&nbsp;

              .col-md-offset-1.col-md-10.text-center
                if user.IsOrgActivation
                  br
                  | 機構已認證
                  br
                  br
                  br
                  a.btn.btn-success(data-toggle="modal" data-target="#newServiceModel")
                    h5
                      i.fa.fa-pencil
                      | 服務需求申請
                else
                  br
                  br
                  h5 貴機構尚未認證身份
                  h6 您的確認申請已送出，請稍後或聯絡敝單位協助處理，造成您的不便敬請見諒
          else
            h3.title-uppercase 貴機構 歡迎您
              br
              h6 
                small 注意！此帳號與志工帳號不同，
                br
                small 您無法使用志工帳號註冊或登入
            br
            form.form-horizontal(action='/loginOrg', method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              .form-group
                label.col-sm-4.control-label(for='email') Email
                .col-sm-7
                  input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus=true)
              .form-group
                label.col-sm-4.control-label(for='password') 密碼
                .col-sm-7
                  input.form-control(type='password', name='password', id='password', placeholder='Password')
              .form-group
                .col-sm-offset-2.col-sm-3
                  a.btn.btn-simple(data-toggle="modal" data-target="#forgetModel") 忘記密碼?
                .col-sm-3
                  a.btn.btn-simple(data-toggle="modal" data-target="#signupOrgModel") 還沒註冊?
              .form-group
                .col-md-offset-1.col-md-10.col-sm-offset-3.col-sm-6
                  button.col-sm-12.btn.btn-primary.btn-fill(type='submit')
                    i.fa.fa-user
                    | 登入
              
      .main
    .section.text-center.landing-section
      .container
        .row
          if user && user.IsOrg
            .col-md-12
              h3 機構服務需求列表
              br
              if allOrgForms.length>0
                table.table.table-striped
                  thead
                    tr
                      th(style='width: 7%') 狀態
                      th(style='width: 20%') 服務名稱
                      th(style='width: 15%') 服務日期
                      th(style='width: 8%') 需求
                      th(style='width: 10%') 投遞
                      th(style='width: 10%') 截止日期
                      th(style='width: 10%') 詳細資訊
                      th(style='width: 10%') 連結
                      th(style='width: 10%') 編輯
                      
                  tbody
                    each val,index in allOrgForms
                      tr
                        td
                          if val.hasCompleted=='stop'
                            i.color-danger.fa.fa-circle
                          else
                            i.color-success.fa.fa-circle
                        td #{val.activity_name}
                        td #{val.service_date_since} ~ #{val.service_date_until}
                        td #{val.volunNum}人
                        td
                          button.seeVolun.col-sm-10.btn.btn-warning.btn-fill.btn-xs(data-toggle='collapse',data-target='#eachJob#{index}') 查看 (#{val.applyIdArr.length})

                        td #{val.recruit_deadline}
                        td
                          button.col-sm-12.btn.btn-info.btn-xs(type='button', data-toggle='popover', data-placement='top', title='#{val.activity_abstract}', data-content='地點:#{val.service_location}') 查看
                        td
                          a.col-sm-12.btn.btn.btn-success.btn-xs(href='#{val.activity_website}', target='_blank', style='font-weight:900;') 瀏覽 
                        td
                          a.col-sm-12.btn.btn-primary.btn-fill.btn-xs(data-toggle="modal" data-target="#editServiceModel_#{index}") 修改
                          
                        
                      tr
                        td(style='padding: 0;')
                        td(style='padding: 0;', colspan='8')
                          if val.applyIdArr.length>0
                            .collapse(id='eachJob#{index}')
                              table.table
                                thead
                                  tr
                                    th(style='width: 5%') 序號
                                    th(style='width: 15%') 投遞日期
                                    th(style='width: 20%') 志工姓名
                                    th(style='width: 15%') 身份別
                                    th(style='width: 15%') 居住
                                    th(style='width: 8%') 基礎訓練
                                    th(style='width: 15%') 詳細資訊
                                    
                                tbody
                                  each eachVolun,indexVolun in val.applyArr
                                    tr
                                      td #{indexVolun}
                                      td
                                        h6
                                          small #{eachVolun.timestamp}
                                      td #{eachVolun.uname}
                                      td #{eachVolun.role}
                                      td #{eachVolun.location}
                                      td
                                        if eachVolun.hasTrain
                                          i.fa.fa-check-square-o
                                        else
                                          i.fa.fa-square-o
                                      td
                                        a.col-sm-12.btn.btn-info.btn-fill.btn-xs(href='/volunInfo/#{eachVolun.uid}', target='_blank') 查看

              else
                h5 貴機構尚未填寫需求表單
          else
            .col-md-10.col-md-offset-1.paragrahIndent
              h3 機構請登入，以查看志工媒合資訊
              br
  if allOrgForms
    each oForm,index in allOrgForms
      include partModel/editServiceModel
  include partModel/signinOrgModel
  include partModel/forgetModel
  if user && user.IsOrg
    include partModel/newServiceModel
    include partModel/accountOrgModel