extends layout

block content
  .section.section-nude.text-center.landing-section.bg(style="background-image: url('/img/18018945761_707e5b412d_h.jpg');background-position: center 0;background-attachment: fixed;bottom: 0;z-index: -1;background-repeat: no-repeat;")
    .container
      .row
        .col-md-8.col-md-offset-2.paragrahIndent(style='color:#555')
          h2 友好連結
          br
          h5
            | 本會每年協助十大傑出青年選拔，為台灣豎立各領域的傑出青年標竿，在他們身上除了能感受到其對於社會的影響力，也看見他們帶領社會向前邁進的實踐力。
  .section.section-nude.text-center.landing-section
    .container
      .row
        .col-md-8.col-md-offset-2.paragrahIndent
          h2 政府部門
          br
    br
    if govNum==0
      h4 
        small 連結陸續新增中
    else
      #carousel_gov
        #carousel_gov-generic.carousel.slide(data-ride='carousel')
          .carousel.slide(data-ride='carousel')
            //- Indicators
            ol.carousel-indicators
            //- Wrapper for slides
            .carousel-inner.weblinks
            //- Controls
            if govNum>1
              a.left.carousel-control(href='#carousel_gov-generic', data-slide='prev')
                span.fa.fa-angle-left
              a.right.carousel-control(href='#carousel_gov-generic', data-slide='next')
                span.fa.fa-angle-right
         
          
  .section.section-white.text-center.landing-section
    .container
      .row
        .col-md-8.col-md-offset-2.paragrahIndent
          h2 志工中心
          
          br
    if vcenterNum==0
      h4 
        small 連結陸續新增中
    else
      #carousel_vcenter
        #carousel_vcenter-generic.carousel.slide(data-ride='carousel')
          .carousel.slide(data-ride='carousel')
            //- Indicators
            ol.carousel-indicators
            //- Wrapper for slides
            .carousel-inner.weblinks.section-black
            //- Controls
            if vcenterNum>1
              a.left.carousel-control(href='#carousel_vcenter-generic', data-slide='prev')
                span.fa.fa-angle-left
              a.right.carousel-control(href='#carousel_vcenter-generic', data-slide='next')
                span.fa.fa-angle-right

  .section.section-nude.text-center.landing-section
    .container
      .row
        .col-md-10.col-md-offset-1.paragrahIndent
          h2 服務據點

          br
          .col-md-10.col-md-offset-1
            h5
              | 為建立青年志工服務策略聯盟、強化訊息推廣效率、以及便利青年志工取得訊息，本中心特邀請下列單位擔任服務據點，希望透過他們在志願服務領域的專業涵養和實務經驗，讓北基金的青年志工有機會拓展服務的思維視野，可以更精進的將公民社會精神落實在志願服務的每個場域。
            br
            br
    br
    if servicePointNum==0
      h4 
        small 連結陸續新增中
    else
      #carousel_servicePoint
        #carousel_servicePoint-generic.carousel.slide(data-ride='carousel')
          .carousel.slide(data-ride='carousel')
            //- Indicators
            ol.carousel-indicators
            //- Wrapper for slides
            .carousel-inner.weblinks
            //- Controls
            if servicePointNum>1
              a.left.carousel-control(href='#carousel_servicePoint-generic', data-slide='prev')
                span.fa.fa-angle-left
              a.right.carousel-control(href='#carousel_servicePoint-generic', data-slide='next')
                span.fa.fa-angle-right    
  .section.section-gray.text-center.landing-section
    .container
      .row
        .col-md-10.col-md-offset-1.paragrahIndent
          h2 好站連結
          br
    br
    if goodLinkNum==0
      h4 
        small 連結陸續新增中
    else
      #carousel_goodLink
        #carousel_goodLink-generic.carousel.slide(data-ride='carousel')
          .carousel.slide(data-ride='carousel')
            //- Indicators
            ol.carousel-indicators
            //- Wrapper for slides
            .carousel-inner.weblinks
            //- Controls
            if goodLinkNum>1
              a.left.carousel-control(href='#carousel_goodLink-generic', data-slide='prev')
                span.fa.fa-angle-left
              a.right.carousel-control(href='#carousel_goodLink-generic', data-slide='next')
                span.fa.fa-angle-right
  
  script.
    var govPageNum = !{govNum};
    var vcenterPageNum = !{vcenterNum};
    var servicePointPageNum =!{servicePointNum};
    var goodLinkPageNum = !{goodLinkNum};
    var allLinksArr = JSON.parse('!{allLinks}');
    var isAllLink = true;