extends layout

block content
  
  .wrapper
    .landing-header.section-nude
      .container
        .motto.col-sm-6
          h2.title-uppercase 在地好青年
          h5 游標移至行政區以查閱
          br
          if hasChosen
            if allResources.length>0
              .section.section-gray.col-sm-11(style='max-height:500px;overflow: scroll;')
                table.table.table-striped.projects
                  thead
                    tr
                      th(style='width: 2%') #
                      th(style='width: 25%') 單位
                      th(style='width: 45%') 簡述
                      th(style='width: 10%') 人數
                      th(style='width: 18%') 聯絡方式
                      
                  tbody
                    each val,index in allResources
                      tr
                        td
                          h6
                            small #{index}
                        td #{val.org}
                        td
                          h6
                            small !{val.abstract}
                        td 
                          h6
                            small #{val.people}
                        td
                          button.col-sm-12.btn.btn-danger.btn-xs(type='button', data-toggle='popover', data-placement='left', title='#{val.org} 聯絡方式', data-content='#{val.contact}') 查看
                           
            else
              h3 這個地區暫時沒有資料

              
        
        .col-sm-6(style='min-height:800px;')
          .profile-tabs
            .nav-tabs-navigation
              .nav-tabs-wrapper
                ul.nav.nav-tabs#tabs(data-tabs="tabs")
                  
                  li(class='#{(activeTab.indexOf("taipei")>-1)?"active":""}')
                    a(href="#taipeiTab" data-toggle="tab")
                      h5
                        i.fa.fa-map-marker
                        | 台北
                  li(class='#{(activeTab.indexOf("keelung")>-1)?"active":""}')
                    a(href="#keelungTab" data-toggle="tab")
                      h5
                        i.fa.fa-map-marker
                        | 基隆
                  //- li(class='#{(activeTab=="kinmen")?"active":""}')
                  li(class='#{(activeTab.indexOf("kinmen")>-1)?"active":""}')
                    a(href="#kinmenTab" data-toggle="tab")
                      h5
                        i.fa.fa-map-marker
                        | 金門
            #my-tab-content.tab-content
              #taipeiTab.tab-pane(class='#{(activeTab.indexOf("taipei")>-1)?"active":""}')
                include svg/taipei
              #keelungTab.tab-pane(class='#{(activeTab.indexOf("keelung")>-1)?"active":""}')
                include svg/keelung
              #kinmenTab.tab-pane(class='#{(activeTab.indexOf("kinmen")>-1)?"active":""}')
                include svg/kinmen

          //- img(src="/img/taipei-01.svg", height="550")
    .main
      .thisTooltip
    script.
      var tooltip = d3.select(".thisTooltip")
        .style("position", "absolute")
        .style("z-index", "10")
        .style("visibility", "hidden")
        .text("a simple tooltip");

      
      var districtVal = window.location.href.split('/');
      districtVal = districtVal[districtVal.length-1];
      console.log(districtVal);
      if(districtVal!=''){
        d3.selectAll("#"+districtVal+' path').style("fill", "#F3BB45");
        
        d3.selectAll("#"+districtVal).classed("clicked", true);
      }
      var keelungSVGs = d3.selectAll("#keelungSVG g")

      keelungSVGs
        .on("mouseover", function(){
          if(!d3.select(this).classed("clicked")){
            d3.select(this).selectAll('path').style("fill", "#7A9E9F");
          }  
          
          return tooltip.style("visibility", "visible");})
        .on("mousemove", function(){return tooltip.style("top", (event.pageY-10)+"px").style("left",(event.pageX+10)+"px");})
        .on("mouseout", function(){
          if(!d3.select(this).classed("clicked")){
            d3.select(this).selectAll('path').style("fill", "#7AC29A");
          }       
          return tooltip.style("visibility", "hidden");})
        .on("click", function(){
          window.location = '/youth/local/'+d3.select(this).attr('id');
          return true;
        });

      var kinmenSVGs = d3.selectAll("#kinmenSVG g")
      
      kinmenSVGs
        .on("mouseover", function(){
          if(!d3.select(this).classed("clicked")){
            d3.select(this).selectAll('path').style("fill", "#7A9E9F");
          }  
          
          return tooltip.style("visibility", "visible");})
        .on("mousemove", function(){return tooltip.style("top", (event.pageY-10)+"px").style("left",(event.pageX+10)+"px");})
        .on("mouseout", function(){
          if(!d3.select(this).classed("clicked")){
            d3.select(this).selectAll('path').style("fill", "#7AC29A");
          }       
          return tooltip.style("visibility", "hidden");})
        .on("click", function(){
          window.location = '/youth/local/'+d3.select(this).attr('id');
          return true;
        });

      var taipeiSVGs = d3.selectAll("#taipeiSVG g")
      //- console.log(districtVal[districtVal.length-1])

      taipeiSVGs
        .on("mouseover", function(){
          if(!d3.select(this).classed("clicked")){
            d3.select(this).selectAll('path').style("fill", "#7A9E9F");
          }  
          
          return tooltip.style("visibility", "visible");})
        .on("mousemove", function(){return tooltip.style("top", (event.pageY-10)+"px").style("left",(event.pageX+10)+"px");})
        .on("mouseout", function(){
          if(!d3.select(this).classed("clicked")){
            d3.select(this).selectAll('path').style("fill", "#7AC29A");
          }       
          return tooltip.style("visibility", "hidden");})
        .on("click", function(){
          window.location = '/youth/local/'+d3.select(this).attr('id');
          return true;
        });

