extends layout

block content
  script.
    //- window.fbAsyncInit = function() {
    //-   FB.init({
    //-     appId      : '1751258648430941',
    //-     xfbml      : true,
    //-     version    : 'v2.5'
    //-   });
    //-   FB.api('/199375070421154/feed', function(response) {
    //-     console.log(response);
    //-   });
    //- };

    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1751258648430941";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    
  .fb-root
  .section.section-nude.text-center.landing-section.bg(style="background-image: url('/img/novelty.jpg');background-position: center 0;background-attachment: fixed;bottom: 0;background-size: 100% auto;z-index: -1;background-repeat: no-repeat;")
    .container
      .row
        .col-md-8.col-md-offset-2.paragrahIndent(style='color:#000')
          h2 公益新鮮事
          br
  .section.section-nude.text-center.landing-section
    .container
      .row
        .col-md-8.col-md-offset-2.paragrahIndent
          h2 公益好思維
          br
          h5
            | 時代在改變，我們對公益的思維是否也跟上了時代。透過不同的角度，提供大家一起探討與反思
          br
          br
        .col-md-12
          .fb-page(data-href='https://www.facebook.com/charityideas/', data-tabs='timeline', data-width='500',data-height='500', data-small-header='true', data-adapt-container-width='true', data-hide-cover='true', data-show-facepile='false')
            .fb-xfbml-parse-ignore
              blockquote(cite='https://www.facebook.com/charityideas/')
                a(href='https://www.facebook.com/charityideas/') 公益好思維
  .section.section-dark.text-center.landing-section
    .container
      .row
        .col-md-8.col-md-offset-2.paragrahIndent
          h2 公益小故事
          br
          h5
            | 不分性別、年齡；不分種族、國家，身在同一個地球村，世界上有多角落需要的我們關心，讓我們成為散播公益的種子，把故事分享出去。
         
          br
        .col-md-12
          .fb-page(data-href='https://www.facebook.com/1654560371470830/', data-tabs='timeline', data-width='500',data-height='500', data-small-header='true', data-adapt-container-width='true', data-hide-cover='true', data-show-facepile='false')
            .fb-xfbml-parse-ignore
              blockquote(cite='https://www.facebook.com/1654560371470830/')
                a(href='https://www.facebook.com/1654560371470830/') 公益小故事
  .section.section-gray.text-center.landing-section
    .container
      .row
        .col-md-10.col-md-offset-1
          h2 公益分享會
          br
          .col-md-12
            h5
              | 分享會活動資訊
            br
            br
            br
            table.table.table-striped.projects
              thead
                tr
                  th(style='width: 40%') 分享會 
                  th(style='width: 16%') 日期
                  th(style='width: 20%') 主辦單位
                  th(style='width: 12%') 活動資訊
                  th(style='width: 12%') 連結
              tbody
                each val,index in allOpenHouses
                  tr
                    td #{val.title}
                    td #{val.date}
                    td #{val.org}
                    td
                      button.col-sm-12.btn.btn-info.btn-xs(type='button', data-toggle='popover', data-placement='top', title='#{val.abstract}', data-content='地點:#{val.location}') 查看
                    td
                      a.col-sm-12.btn.btn.btn-success.btn-xs(href='#{val.link}', target='_blank', style='font-weight:900;') 瀏覽
           

          
  .section.section-nude.text-center.landing-section
    .container
      .row
        .col-md-10.col-md-offset-1.paragrahIndent
          h2 公益來開講
          br
          br
          br
          h5 對志願服務或公益活動有什麼想法嗎? 歡迎提出和大家分享討論哦!
          .fb-comments(data-href='http://localhost/novelty', data-width='.9', data-numposts='20', data-order-by='social')
  //- script.
  //-   gsdk.initPopovers();


