{{!< default}}

{{! The main content area on the homepage }}
<main role="main" class="{{#if @blog.cover}} custom-bg{{else}} default-bg{{/if}}"{{#if @blog.cover}} style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="main__wrapper">
    <!--     <h2 class="main__header">Tag archive: <span class="main__header--tagname">{{tag.name}} ({{pagination.total}})</span></h2> -->
        <form style="text-align:center" class="col-sm-4 col-sm-offset-4">
            <div class="form-group col-sm-9">
                <input id="search-field" type="text" class="form-control" style="background: #fefefe;"/>
            </div>
            <div class="form-group col-sm-3">
                <button class="btn btn-neutral btn-fill" type="submit"> 搜尋文章 </button>
            </div>
        </form>
        <section class="col-sm-offset-2 col-sm-8" id="results" style="text-align:left;"></section>
        {{! Each post will be output using this markup }}
        {{#foreach posts}}
        <article class="{{post_class}} post__wrapper" data-cols="4">
            <div class="post__wrapper_helper post__wrapper_helper--notloaded el__transition">
                {{#if image}}
                	<img src="{{image}}" alt="{{{title}}}" class="post__image_to_load" />
                {{/if}}
                <div class="post__preview el__transition">    
                    <header class="post__header">
                        <h2 class="post__title">
                            <a href="{{url}}" class="post__link post__title_link"><span>{{{title}}}</span></a>
                        </h2>
                    </header>                  
                    <p class="post__excerpt"><a href="{{url}}" class="post__link post__readmore">{{excerpt characters="120"}}&hellip;</a></p>
                </div>
                <footer class="post__meta">
                    {{#if tags}}
                    <ul class="post__tags">
                        {{#foreach tags}}
                        <li class="post__tag"><a href="{{url}}" class="post__link post__tag_link">{{name}}</a>{{#if @last}} {{else}}, {{/if}}</li>
                        {{/foreach}}
                    </ul>
                    {{/if}}
                </footer>
            </div>
        </article>
        {{/foreach}}
    </div>
    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}
</main>